@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">Acerca de nosotros</h2>
    <h3></h3>

    <p>Bienvenidos a la <strong>Universidad Juan Velasco Alvarado</strong>, una universidad dedicada a formar estudiantes con valores, habilidades y conocimientos para enfrentar los retos del futuro. Nuestro colegio ofrece una educación integral que abarca desde la educación inicial hasta el bachillerato, con programas académicos adaptados a las necesidades del siglo XXI.</p>

    <p><strong>Misión:</strong> En el Colegio Educativo San Juan nos comprometemos a ofrecer una educación de calidad, centrada en el desarrollo de la creatividad, la curiosidad y el pensamiento crítico. Buscamos formar ciudadanos responsables, comprometidos con su comunidad y preparados para el mundo globalizado.</p>

    <p><strong>Visión:</strong> Ser reconocidos como una de las mejores instituciones educativas de la región, destacándonos por la excelencia académica, la innovación pedagógica y el bienestar de nuestros estudiantes.</p>

    <p>Ofrecemos una variedad de actividades extracurriculares, como deportes, arte y programas de voluntariado, para fomentar el desarrollo integral de nuestros estudiantes. Además, contamos con un equipo de docentes altamente capacitados y un ambiente escolar que promueve el respeto, la colaboración y el aprendizaje.</p>

    <p>Invitamos a todos los padres y estudiantes a conocer más sobre nuestro enfoque educativo y a formar parte de nuestra comunidad. ¡Juntos, vamos más allá!</p>
</main>
