@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">Contactanos</h2>
    <h3></h3>

    <address>
        Universidas Juan Velasco ALvarado<br />
        Calle Naranjal 123, Ciudad de Dios<br />
        <abbr title="Teléfono">T:</abbr>
        555.123.4567
    </address>

    <address>
        <strong>Soporte:</strong>   <a href="mailto:soporte@escuelaabc.com">soporte@escuelaabc.com</a><br />
        <strong>Admisiones:</strong> <a href="mailto:admisiones@escuelaabc.com">admisiones@escuelaabc.com</a><br />
        <strong>Dirección General:</strong> <a href="mailto:direccion@escuelaabc.com">direccion@escuelaabc.com</a>
    </address>
</main>
